body {
    font-family: "rockwell";
    margin: 0;
    text-align: center;

}

#banner h1 {
  font-size: 30px;
  font-family: "rockwell";
}

#banner h2 {
  font-family: "rockwell";
}
  



  #back {
    text-align: center;
  }

  #paragraph {
    font-size: 20px;
    text-align: center;
    margin-top: 8px;
    line-height: 35px;
  }



  #tooltip2 {
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    font-family: 'rockwell', sans-serif;
    font-size: 10pt;
    background-color:white;
    padding: 3px;
    opacity: 0;
    pointer-events: none;
    border: 3px solid #8E44AD;
  }


  a:link {
    color:#cd395b;
    text-decoration: none;
}

  a:visited {
    color:#cd395b;
}

  a:hover {
    color:#1c1c1c;
    background-color: #ebf952;
}

span.color1 {
  color: #A569BD;
}

span.color2 {
  color: #8E44AD;
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  #barchart svg {
    max-width: 8px;
  }

  body {
    background-color: #F4D03F;
  }

  h1 {
    font-size: 6pt;
  }

  h2 {
    font-size: 15pt;
    text-shadow: 2px 2px #1ABC9C;
  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) { 
  #barchart svg {
    max-width: 16px;
  }

  body {
    background-color: #F4D03F;
  }

  h1 {
    font-size: 6pt;
  }

  h2 {
    font-size: 15pt;
    text-shadow: 2px 2px #1ABC9C;
  }
 }

 /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { 
  #barchart svg {
    max-width: 16px;
  }

  body {
    background-color: #F5CBA7;
  }

  h1 {
    font-size: 6pt;
  }

  h2 {
    font-size: 15pt;
    text-shadow: 2px 2px #3498DB;
  }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
  #barchart svg {
    max-width: 16px;
  }

  body {
    background-color: #CCCCFF;
  }

  h1 {
    font-size: 25pt;
  }

  h2 {
    font-size: 15pt;
    text-shadow: 2px 2px #FFBF00;
  }
 }